
android/logsdk/.idea/*
*.iml

android/logspout/.idea/*

android/logspout/target/*

*.class

android/logsdktest/.idea/*

android/logsdk/target/*

android/logsdktest/logsdktest-it/target/*

android/logsdktest/logsdktest/target/*

android/logsdktest/target/*
